@import 'fonts.css';

*{
    list-style: none;
}

:root{
    --green: #68bf3b;
    --white: #ffffff;
    --gray: #bdbdbd;
    --green-black: #55ad0d;
}


.container{
    border: 2px solid green;
    min-height: 50px;
}
.header{
    
    background: url('../images/header_bg1.jpg');
    width: 100%;
    height: 100vh;
}



.logo{
    padding-top: 40px;
}

.logo h3{
    color: var(--white);
    font-size: 24px;
    font-family: 'bold';
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    /* list-style: none; */
    /* margin-top: 40px; */
}
.logo a{
   /* list-style: none; */
   text-decoration: none;
}
.logo h4{
    /* font-family: 'montserrat'; */
    font-weight: 400;
     color: var(--white);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    /* margin-top: 40px; */
}

.logo span{
    font-size: 16px;
    font-family: 'black';
    font-weight: 400;
    color: var(--white);
    background: var(--green);
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    margin-left: 80px;
    align-items: flex-end;

}
.list{
    margin-top: 150px;
}
.list h3{
    font-size: 18px;
    font-family: 'black';

}
.list h1{
    font-size: 72px;
    /* font-family: 'blak'; */
    font-weight: 700;
    margin-top: 30px;
    color: var(--white);
    text-transform: uppercase;
}
.list p{
    color: var(--white);
    font-size: 18px;
    font-family: 'montserrat';
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 35px;
}
.list a {
  padding: 15px 40px;
  background: var(--green);
  color: var(--white);
  text-transform: capitalize;
  border-radius: 50px;
  margin-top: 35px;
}

/* ssection */
.content{
    border: red 2px solid;
    /* background:peru; */
    
}


.content img{
    padding-top: 80px;
}




.content h1{
    font-size: 36px;
    font-family: 'bold';
    font-weight: 600;
    color: var(--green);
    text-transform: uppercase;
    padding-top: 100px;

}

.content p{
    /* padding-bottom: 0; */
    font-size: 18px;
    line-height: 28px;
    color: var(--gray);
    font-family: 'monserrat';
    /* display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: 5;
  overflow: hidden; */
  /* transition: opacity 0.5s; */
  letter-spacing: 1px;
  width: 650px;
  padding-top: 60px;

}

.content h3 {
    color: var(--gray);
    font-size: 24px;
    font-family: 'bold';
    font-weight: 600;
    padding-top: 80px;
    line-height: 15px;
}

.content .foto{
    position: relative;
}
.foto{
    position: absolute;
    right: 250px;
    top: 250px;
}
.content-menu h3{
    color: var(--gray);
    font-size: 28px;
    padding: 30px 30px 0;
    text-transform: uppercase;
    font-weight: 600;   
    font-family: 'bold';
}

.content-menu ul {
    color: var(--gray);
    font-size: 16px;
    font-family: 'montserrat';
    font-weight: 400;
    /* line-height: 20px; */
    padding-top: 10px;
}
.content-menu h4{
    color: gray;
    font-size: 30px;
     font-weight: 600;
     font-family: 'bold';
    margin-top: 70px;
    margin-bottom: 50px;
     
}

.content-menu a{
    color: var(--white);
    background: var(--green-black);
   padding: 20px 30px;
   border-radius: 50px;
   /* margin-top: 30px; */
   text-decoration: none;
   
}
.slide .img1{
    background: url('../images/Слой\ 5.png') no-repeat ;
    width: 600px;
    height: 250px;
    object-fit: fill;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.bg{
    font-size: 18px;
    color: var(--white);
    padding: 50px 30px;
}

.bg span{
   background: green;
   border-radius: 50px;
   padding: 20px 10px;
} 
    
.content-list h3{
        font-size: 18px;
        color: var(--gray);
        font-family: 'black';
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 30px;

}
.content-list p{
    color: var(--gray);
    font-size: 16px;
    font-family: 'montserrat';
    font-family: 400;
    letter-spacing: 0.5px;
    line-height: 24px;

}
/* footer */
 
.footer-menu{
    background: #000000;
    width: 100%;
    height: 200px;
    /* padding-top: 50px; */
}
.footer-menu h3{
    font-size: 25px;
    color: var(--white);
    font-family: 'black';
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
}

.footer-menu a {
    color: white;
   margin-top: 30px;
   background: var(--green-black);
   padding: 10px 15px;
   border-radius: 50px;
   text-decoration: none;
}
.footer-menu h5{
    color: var(--gray);
    margin-top: 40px;
}





